

.myCard {
    border-radius: 0;
    padding:  5rem 0;
}

.myCard:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.cardInfo {
    background: #cce5ff;
    
}
footer {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg,#1d3744, #1d5271);
    justify-content: space-around;
}

footer a {
    padding: 1rem;
    color: white;
    text-decoration: none;
}

